// This file exports a JSON containing data customized by you about your handlers and domains.

export const dids = () => {
  return {
    // Default domain address for handler
    domain: "company.com",
    // Redirect request site for any unindentified route (e.g. *)
    default: "https://site.company.com",
    // Where 'handle' is the main string before the domain at your handle. (e.g. alexa.company.com => handle = 'alexa')
    // Where 'did' is the did obtained
    ['handle']: "[did]",
  };
};
